<% membership ||= @membership %>
<% membership ||= @appointment.membership %>
<div class="container">
	<div class="columns appointment-columns">
		<div class="column col-5">
			<div class='appointments-header h5'>Appointment history</div>
			<ul class='membership-appointments'>
				<div>
					<table id="appointments-table" class="table table-hover">
						<thead>
							<tr>
								<th>Date & Time</th>
								<th>Items</th>
							</tr>
						</thead>
						<tbody>
							<% membership.past_appointments.each do |appointment| %>
							<tr>
								<td>
									<%= link_to appointment.datetime.localtime.strftime("%d/%m/%Y, %a: %H:%M"), appointment_path(appointment) %>
								</td>
								<td>
									<% if appointment.checkout %>
									<ul>
										<% appointment.checkout.checkout_items.each do |checkout_item| %>
										<li><%= checkout_item.item.display_name %> <%= checkout_item.count %> </li>
										<% end %>
									</ul>
									<% end %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</ul>
		</div>
		<div class="divider-vert"></div>
		<div class="column col-5">
			<div class='appointments-header h5'>Upcoming Appointments</div>
			<ul class='membership-appointments'>
				<div>
					<table id="appointments-table" class="table table-hover">
						<thead>
							<tr>
								<th>Date & Time</th>
							</tr>
						</thead>
						<tbody>
							<% membership.upcoming_appointments.each do |appointment| %>
							<tr>
								<td>
									<%= link_to appointment.datetime.localtime.strftime("%m/%d/%Y, %a: %H:%M"), appointment_path(appointment) %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</ul>
		</div>
		<% if !membership.checkouts.empty? %>
			<div class="column col-5 checkout-totals margin-top">
				<div class='appointments-header h5'>Membership Item Totals:</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Item</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						<% membership.item_totals.each do |item, total| %>
							<tr>
								<td>
									<%= item %>
								</td>
								<td>
									<%= total %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="column col-5"></div>
		<% end %>
	</div>
</div>