<%= form_for @membership do |f| %>
	<div>
		<div>Add Members</div>
		<div class="divider"></div>
		<%= f.nested_fields_for :members do |member_form| %>
			<div>
				<%= member_form.label "First name:" %>
				<%= member_form.text_field :first_name %>
			</div>

			<div>
				<%= member_form.label "Last name:" %>
				<%= member_form.text_field :last_name %>
			</div>

			<div>
				<%= member_form.label "Phone number:" %>
				<%= member_form.text_field :phone_number %>
			</div>

			<div>
				<%= member_form.label "Email:" %>
				<%= member_form.text_field :email, type: 'email' %>
			</div>

			<div>
				<%= member_form.label "Document number:" %>
				<%= member_form.text_field :document_number %>
			</div>

			<div>
				<%= member_form.label "Notes:" %>
				<%= member_form.text_field :notes %>

			</div>

			</div>

			<%= member_form.remove_nested_fields_link 'x', data: { confirm: 'Are you sure?' } %>

			<div class="divider"></div>
		<% end %>

		<%= f.add_nested_fields_link :members %>
		<div>
			<%= f.submit "Create Membership" %>
		</div>
	</div>

<% end %>
