<%= form_for @membership do |f| %>
<div>
	<div>Add Members</div>
	<div class="divider"></div>
	<div class="grid-container">
		<%= f.nested_fields_for :members do |member_form| %>
		<div class="grid-item">
			<div class="form-group">

				<div>
					<%= member_form.label "First name:", class: "form-label" %>
					<%= member_form.text_field :first_name, class: "form-input" %>
				</div>

				<div>
					<%= member_form.label "Last name:", class: "form-label" %>
					<%= member_form.text_field :last_name, class: "form-input" %>
				</div>

				<div>
					<%= member_form.label "Phone number:", class: "form-label" %>
					<%= member_form.text_field :phone_number, class: "form-input" %>
				</div>

				<div>
					<%= member_form.label "Email:", class: "form-label" %>
					<%= member_form.text_field :email, class: "form-input", type: 'email' %>
				</div>

				<div>
					<%= member_form.label "Document number:", class: "form-label" %>
					<%= member_form.text_field :document_number, class: "form-input" %>
				</div>

				<div>
					<%= member_form.label "Notes:", class: "form-label" %>
					<%= member_form.text_field :notes, class: "form-input" %>
				</div>

				<div>
					<%= member_form.label "Point of contact:", class: "form-label" %>
					<%= radio_button_tag :point_of_contact, '' %>
				</div>

				<%= member_form.remove_nested_fields_link 'Remove', data: { confirm: 'Are you sure?' }, class: "form-label cancel" %>


				<div class="divider"></div>
				<% end %>
			</div>
		</div>
		<div class="grid-item">
			<%= f.add_nested_fields_link :members, "+", class: 'btn add-member' %>

		</div>
		</div>
	</div>
</div>
<div>
	<%= f.submit "Create Membership" %>
</div>
</div>

<% end %>
