<%= form_for @checkout do |f| %>
	<div>Add Items</div>
	<div class="divider"></div>
	<%= f.nested_fields_for :checkout_items do |checkout_items_form| %>
		<%= checkout_items_form.label "Select type and size:" %>
		<%= checkout_items_form.collection_select(:item_id, @items, :id, :display_name, {}, class: 'chosen-select') %>
		<%= checkout_items_form.number_field :count %>
		<%= checkout_items_form.remove_nested_fields_link 'x', data: { confirm: 'Are you sure?' } %>
	<% end %>

	<%= f.add_nested_fields_link :checkout_items %>
	<%= f.submit "Finished Checking out" %>
<% end %>
