<%= form_for @checkout do |f| %>
	<div class="title">Checking out membership #<%= @appointment.membership.number %></div>
	<div class="title"><%= @appointment.display_datetime %></div>
	<div class="divider"></div>
	<div>Add Items</div>
	<%= f.hidden_field :appointment_id, value: @appointment.id %>
	<%= f.nested_fields_for :checkout_items do |checkout_items_form| %>

		<%= checkout_items_form.collection_select(:item_id, @items, :id, :display_name, {}, class: 'chosen-select') %>

		<%= checkout_items_form.number_field :count, value: 1 %>

		<%= checkout_items_form.remove_nested_fields_link 'x' %>
	<% end %>
	<div class="checkout-buttons">
		<%= f.add_nested_fields_link :checkout_items, "+", class: 'add-item btn btn-primary'  %>
		<%= f.submit "Finished Checking out", class: "btn btn-primary checkout-submit" %>
	</div>
<% end %>

<div class="divider"></div>

<% unless @appointment.membership.completed_appointments.empty? %>
	<div class="appointment-history">
		<%= render partial: 'memberships/appointments', locals: {membership: @appointment.membership} %>
	</div>
<% end %>