<div class="title margin-bottom">Checkout</div>
<div class="container">
	<div class="columns">
		<div class="column col-5">
			<div class="checkout">
				<div>
					Name: <%= @checkout.membership.name %>
				</div>

				<div>
					Date: <%= @checkout.appointment.display_datetime %>
				</div>

				<div>
					Appointment: <%= link_to @checkout.appointment.datetime, appointment_path(@checkout.appointment) %>
				</div>

				<div>
					Items:
					<ul>
						<% @checkout.checkout_items.each do |checkout_item| %>
						<li><%= checkout_item.item.display_name %> <%= checkout_item.count %> </li>
						<% end %>
					</ul>
				</div>

			</div>
		</div>

		<div class="column col-5">
			<%= link_to("Schedule appointment", new_appointment_path, class: 'btn btn-primary') %>
			<%= link_to("Edit Checkout", edit_checkout_path(@checkout), class: 'btn btn-primary') %>
		</div>
	</div>
</div>
