<div class="container">
	<div class="columns">
		<div class="column col-12">
			<div id="calendar"></div>
		</div>
	</div>

	<div class="modal modal-lg" id="timeslot_modal">
		<a href="#close" class="modal-overlay blue-background" aria-label="Close"></a>
		<div class="modal-container">
			<div class="modal-header">
				<a href="#close" class="appointment_close btn btn-clear float-right" aria-label="Close"></a>
				<div id="current-timeslot" class="modal-title title h5"></div>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="content">
						<div class="columns">

							<div id="timeslot-view" class="column col-5">
								<div class="h5 title">Existing appointments</div>
								<div>
									<table id="timeslot-appointments-table" class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th># People</th>
												<th>Actions</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>

							<%= render partial: 'layouts/membership_modal' %>

							<div class="divider-vert"></div>

							<div class="column col-6>
								<div class="event-form">
									<div class="h5 title">Create Appointment</div>

									<%= form_for @appointment do |f| %>
										<%= f.hidden_field :datetime %>

										<div>
											<div>
												<%= f.label "Membership #", class: 'form-label' %>
												<%= f.text_field :membership_id, class: 'form-input' %>
											</div>
											<div class='membership_search btn'>Search</div>

										</div>

										<%= f.label "Number of People", class: 'form-label' %>
										<%= f.number_field :people_count, class: 'form-input' %>

										<%= f.label "Notes", class: 'form-label' %>
										<%= f.text_field :notes, class: 'form-input' %>

										<%= f.submit "Create appointment", { id: 'create_appointment', class: 'btn btn-primary'} %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
