<div class="container">
  <div class="columns">
    <div class="column col-9">
    	<%= render partial: 'layouts/membership_modal' %>

			<div id="calendar"></div>
		</div>
		<div class="divider-vert"></div>
		<div class="column col-2">
			<div class="event-form">
				<%= form_for @appointment do |f| %>
					<div>Create Appointment</div>
					<div class="divider"></div>
					<%= f.label "Date and Time (choose on calendar)", class: 'form-label' %>
					<%= f.datetime_field :datetime, class: 'form-input' %>

					<%= f.label "Membership", class: 'form-label' %>
					<%= f.number_field :membership_id, class: 'form-input' %>
					<div class='membership_search btn'>Search</div>

					<%= f.label "Number of People", class: 'form-label' %>
					<%= f.number_field :people_count, class: 'form-input' %>
					<%= f.submit "Create appointment", { id: 'create_appointment', class: 'btn btn-primary'} %>
				<% end %>
			</div>

			<div class="divider"></div>

			<div id="timeslot-view" class="d-invisible">
				<div id="current-timeslot"></div>
				<div>
				  <table id="timeslot-appointments-table" class="table table-hover">
				    <thead>
				      <tr>
				        <th>Name</th>
				        <th># People</th>
				      </tr>
				    </thead>
				    <tbody>
				    </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
</div>