<div class="title margin-bottom" style="text-align: center">Appointment</div>
<div class="container">
	<%= render partial: 'update_appointment_calendar' %>

	<div class="columns">
		<div class="column col-6">
			<div class="appointment">
				<div>
					Date and time: <%= @appointment.display_datetime %>
				</div>

				<div>
					<%= link_to "Membership: #{@appointment.membership.number}", membership_path(@appointment.membership) %>
				</div>

				<div>
					Checkout status: <%= @appointment.checkout.nil? ? "Incomplete" : @appointment.checkout.status %>

				</div>

				<div>
					<%= form_for @appointment do |f| %>
						<%= f.label "Number of People", class: 'form-label' %>
						<%= f.number_field :people_count, class: 'form-input' %>

						<%= f.label "Notes", class: 'form-label' %>
						<%= f.text_field :notes, class: 'form-input' %>


						<%= f.hidden_field :datetime %>

						<%= f.submit "Update appointment", class: 'btn btn-primary' %>
					<% end %>
				</div>
			</div>
		</div>

		<div class="divider-vert"></div>

		<div class="colum col-4">
			<div id="appointment-change-date" class="btn btn-primary">Change Date & Time</div>


			<% if !@appointment.checkout %>
				<%= link_to "Checkout", new_checkout_path(appointment_id: @appointment.id), class: 'btn btn-primary' %>
				<%= link_to "Cancel appointment", appointment_path(@appointment), method: :delete, data: { confirm: 'cancel appointment?' }, class: 'btn btn-error' %>
			<% else %>
				<%= link_to "View Checkout", checkout_path(@appointment.checkout), class: 'btn btn-primary' %>


			<% end %>
		</div>
	</div>
</div>
