<div class="container">
<<<<<<< Updated upstream
	<div class="columns">
		<div class="column col-5">
			<div class='h5'>Total: <%= CheckoutItem.sum(:count) %> </div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Item</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody>
					<% CheckoutItem.top_items.each do |item, total| %>
						<tr>
							<td>
								<%= item %>
							</td>
							<td>
								<%= total %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
=======
	<div class="card">
		<div class="card-header">
			<div class="card-title h5">Items</div>
			<div class="card-subtitle text-gray">Total: <%= CheckoutItem.sum(:count) %> </div>
>>>>>>> Stashed changes
		</div>
		<div class="card-body">
			<div class="columns">
				<div class="column col-6">
					<canvas id='item-chart'></canvas>
					<div id='top-for-day' class='d-invisible'>
						<div id='top-items-date'></div>
						<div id='top-items-total'></div>
						<div>
							<table id="top-for-day-table" class="table table-hover">
								<thead>
									<tr>
										<th>Item</th>
										<th>Count</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="divider-vert"></div>
				<div class="column col-5">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Item</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody>
							<% CheckoutItem.top_items.each do |item, total| %>
							<tr>
								<td>
									<%= item %>
								</td>
								<td>
									<%= total %>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<div class="card-title h5">Appointments</div>
			<div class="appointments-subtitles">
				<div class="card-subtitle">Scheduled: <%= Appointment.count %> </div>
				<% percent_attended = (Appointment.where(attended: true).count.to_f / Appointment.count).round(4) * 100 %>
				<div class="card-subtitle">Attended: <%= "#{Appointment.where(attended: true).count} (#{percent_attended}%)" %> </div>
				<div class="card-subtitle">Attendees: <%= "#{Appointment.where(attended: true).sum(:people_count)}" %> </div>
			</div>
		</div>
		<div class="card-body">
			<div class="columns">
				<canvas id="appointments-chart"></canvas>
			</div>
		</div>
	</div>
</div>