<!DOCTYPE html>
<html>
  <head>
    <title>Freeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar">
      <section class="navbar-section">
        <a href="#" class="btn btn-link">Appointments</a>
        <%= link_to "Memberships", memberships_path %>
        <%= link_to "Members", members_path %>
        <%= link_to "Checkout", new_checkout_path, class: "btn btn-link" %>
      </section>
    </header>

    <div class="container">
      <div class="columns">
        <div class="column col-1 hide-sm">
          <ul class="nav">
            <li class="nav-item">
             <% if current_volunteer %>
                <%= link_to "Dashboard", volunteer_dashboard_path(current_volunteer), class: "btn btn-link" %>
             <% end %>
            </li>
            <li class="nav-item">
              <%= nav_link "Appointments", appointments_path %>
            </li>
            <li class="nav-item">
              <%= nav_link "Memberships", memberships_path %>
            </li>
            <li class="nav-item">
              <%= nav_link "Members", members_path %>
            </li>
            <li class="nav-item">
              <a href="#">Admin</a>
            </li>
          </ul>

        </div>
        <div class="divider-vert hide-sm"></div>
        <div class="col-10 col-sm-12">
          <%= yield %>
        </div>
      </div>

    </div>


  </body>
</html>
