<!DOCTYPE html>
<html>
  <head>
    <title>Freeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar">
      Freeshop
      <div class="flashes">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
      </div>

      <div class="account-header">
        <% if volunteer_signed_in? %>
          <%= link_to 'Edit account', edit_volunteer_registration_path %>
          <%= link_to 'Sign out', destroy_volunteer_session_path, :method=>'delete' %>
        <% else %>
          <%= link_to 'Sign in', new_volunteer_session_path %>
          <%= link_to 'Sign up', new_volunteer_registration_path %>
        <% end %>
      </div>
    </header>

    <div class="container">
      <div class="columns">
        <div class="column col-1 hide-sm">
          <% if current_volunteer %>
            <ul class="nav">
              <li class="nav-item">
                  <%= nav_link "Dashboard", volunteer_dashboard_path(current_volunteer) %>
              </li>
              <li class="nav-item">
                <%= nav_link "Appointments", new_appointment_path %>
              </li>
              <li class="nav-item">
                <%= nav_link "Members", members_path %>
              </li>
              <li class="nav-item">
                <a href="#">Admin</a>
              </li>
            </ul>

          <% end %>
        </div>
        <div class="divider-vert hide-sm"></div>
        <div class="column col-10 col-sm-12">
          <%= yield %>
        </div>
      </div>

    </div>


  </body>
</html>
