<%= form_for @member do |f| %>
	<div>
		<%= f.label "First name:" %>
		<%= f.text_field :first_name %>
	</div>

	<div>
		<%= f.label "Last name:" %>
		<%= f.text_field :last_name %>
	</div>

	<div>
		<%= f.label "Notes:" %>
		<%= f.text_field :notes %>

	</div>

	<%= f.submit "Update member" %>
<% end %>
